@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    color: #242427;
    font-family: roboto;
}
p{
    line-height: 1.75;
}
.container{
    width: 1080px;
    margin: auto;
}
.container-medium{
    width: 720px;
    margin: auto;
}
.header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.white{
    background-color: white;
}
.shadow{
    box-shadow: 0 0 5px #00000011;
}
.col-3{
    width: 30%;
    display: inline-table;
    margin: 0;
}
.col-2{
    width: 40%;
    display: inline-table;
    margin: 0;
}

/* ALIGN */
.center{
    margin-left: auto;
    margin-right: auto;
}
.right{
    margin-left: auto;
}
.left{
    margin-right: auto;
}
.text-right{
    text-align: right;
}

.list-none{
    list-style: none;
    padding: 0;
}
.list-none li{
    display: inline;
    margin : 20px;
}
.active{
    border-bottom: 3px solid #ffb515;
    color: #ffb515;
    padding-bottom: 7px;
}

ul li a{
    text-decoration: none;
    color: unset;
    transition: 0.1s ease-in-out;
}
a{
    text-decoration: none;
    color: unset;
}
ul li a:hover{
    transition: 0.1s ease-in-out;
    color: #ffb515;
    border-bottom: 3px solid #ffb515;
    padding-bottom: 7px;
}
.active a:hover{
    transition: unset;
    color: unset;
    border-bottom: unset;
    padding-bottom: unset;
}
.hero-illustration{
    scale:13;
    transform: translate(27px,17px);
}
/* @keyframes breath{
    1
} */
.spacer-md{
    margin-top: 50px;
}
.spacer{
    margin-top: 100px;
}
.spacer-lg{
    margin-top: 200px;
    vertical-align: middle;
}
.button-primary{
    padding : 20px;
    margin:  20px 0;
    width: 150px;
    text-align: center;
    background-color: #ffb515;
    border-radius: 20px;
    box-shadow: 0px 5px 5px #ca85052d;
    transition: all .2s;
}
.button-primary:hover{
    background-color: #e2980e;
}

.title-lg{
    font-size: 64px;
    font-weight: bold;
}
.title-md{
    font-size: 24px;
    font-weight: bold;
}
.title-sm{
    font-size: 16px;
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.list-style{
    border-bottom: 3px solid #ffb515;
    padding-bottom: 25px;
    width: 50px;
}

.hero-icon{
    margin-bottom: 20px;
    fill: white;
}




/* section for card */

.card{
    width :25%;
    display: inline-table;
    margin: 20px;
    height: 290px;
    background-color: #fff;
    border: 2px solid #f6f6f6;
    border-radius: 20px 20px 15px 15px;
}
.card:hover{
    background-color: #d4d4e6;
    opacity: 0.8;
    transition: all .3s;
}
.card-image{
    width: 274px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-top: -50px;
    margin-bottom: 15px;
}
.detail-img{
    width: 90%;
    object-fit: cover;
    border-radius: 15px;
    left:0;
    right: 0;
    margin: auto;
}
.price{
    width:50px;
    height:50px;
    border-radius: 100%;
    background-color: #fff;
    transform: translate(210px,175px);
    box-shadow: 0 0 5px #0000003d;
    line-height: 3;
    color: black;
}
.price-detail{
    padding: 5px;
    width:50px;
    border-radius: 3px;
    background-color: #ffb515;
    text-align: center;
    margin: 10px 0;
}

.line-height{
    line-height: 1.75;
}
.no-inline{
    display: inline-table;
}
.footer{
    width: 100%;
    background-color: #242427;
    color: white;
    line-height: 1.75;
}
.margin-content{
    padding:50px;
}
.margin-top{
    padding-top:25px;
}




.bg-grey{
    background-color: #242427;
    color: white;
}
@media screen and (max-width:768px){
    .container{
        width: 640px;
    }
    .col-3{
        width: 80%;
    }
    .card{
        width: 40%;
        height: 260px;
    }
    .price{
        transform: translate(200px,160px);
    }
    .spacer{
        margin-top: 150px;
    }
    .container-medium{
        width: 480px;
    }
    .col-2{
        width: 30%;
        display: inline-table;
        margin: 0;
        background-color: violet;
    }
    .flex
    .margin-content{
        padding: 15px;
    }
    ul{
        position: relative;
    }
    .list-none li{
        display: block;
    }   
    .margin-top{
        margin-top: 10px;
    }

}
.row{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

}
.baseline{
    align-items: baseline;
}
.col-flex{
    width: 100%;
}





/* Modal */

.modal-box{
    width:60%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #00000011;
    position: fixed;
    z-index: 100;
    border-radius: 30px;
    transform: translate(-50%,-50%);
    top:37%;
    left: 50%;

}

.modal-bg{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008a;
    overflow: auto;
    position: fixed;
    z-index: 10;
    visibility: hidden;
}
.close-modal{
    padding : 10px;
    margin: 20px 150px;
    width: 55px;
    text-align: center;
    border:2px solid #ffb515;
    border-radius: 10px;
    transition: all .2s;
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    
}
.close-modal:hover{
    border:2px solid #e2980e;
}
.buy-modal{
    padding : 10px;
    margin:  20px;
    width: 100px;
    text-align: center;
    border:2px solid #ffb515;
    background-color: #ffb515;
    border-radius: 10px;
    transition: all .2s;
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ca85052d;
    
}
.buy-modal:hover{
    border:2px solid #e2980e;
    background-color: #e2980e;
}
